# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.old
*.log
*.tmp

# caches
.cache
*.cache
*~

# distribution
dist
dist-ssr
*.zip

# IDE Project Configurations
# --------------------------
.idea
.project
.settings
*.sublime-*

# AI Agents
# --------------------------
.agents
.cursor
.gemini
.github/copilot-instructions.md
.opencode
CLAUDE.md
GEMINI.md

# Development files
# --------------------------
.env.*
.env
.tool-versions
.wrangler
node_modules
reports
wrangler.d.ts

# Node.js lock files
.pnpm-store
package-lock.json
pnpm-lock.yaml
yarn.lock

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
